.hidectrl {
	display: none;
}

.bodypos {
	position: absolute;
    margin: auto;
    text-align: center;
    top: 35%;
    bottom: 0;
    left: 0;
    right: 0;
}
.button_outer {
    background: #83ccd3;
    border-radius: 30px;
    text-align: center;
    height: 50px;
    width: 200px;
    display: inline-block;
    transition: .2s;
    position: relative;
    overflow: hidden;
}

.btn_upload {
    padding: 14px 30px 12px;
    color: #fff;
    text-align: center;
    position: relative;
    display: inline-block;
    overflow: hidden;
    z-index: 3;
    white-space: nowrap;
}

.btn_upload input {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    width: 100%;
    height: 105%;
    cursor: pointer;
    opacity: 0;
}

#ourbrand h2.section-heading, #ourbrand .section-heading.h2 {
    font-size: 2.5rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

#ourbrand h3.section-subheading, #ourbrand .section-subheading.h3 {
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin-bottom: 4rem;
}


.brandimg {
    margin-bottom: 3rem;
    text-align: center;
}

.brandimg img {
    width: 14rem;
    height: 14rem;
}

#ourteam .container-fluid {
	background: #F4623A;
}

#ourteam h2.section-heading, #ourteam .section-heading.h2 {
    font-size: 2.5rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
	color: white;
}

#ourteam h3.section-subheading, #ourteam .section-subheading.h3 {
    font: 400 18px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
	margin-bottom: 4rem;
	color: #6c757d;
}
#ourteam h5.section-subheading, #ourteam .section-subheading.h5 {
	font: 400 18px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
	margin-bottom: 1rem;
	color: #6c757d;
}

.team-member {
    margin-bottom: 3rem;
    text-align: center;
}

.team-member img {
    width: 14rem;
    height: 14rem;
    border: 0.5rem solid rgba(0, 0, 0, 0.1);
}
.rounded-circle {
    border-radius: 50% !important;
}
.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}
img, svg {
    vertical-align: middle;
}