<script>
  window.watsonAssistantChatOptions = {
    integrationID: "86e547c2-bf06-4661-9a8c-e6b10d93f153", // The ID of this integration.
    region: "us-south", // The region your integration is hosted in.
    serviceInstanceID: "073d3db2-7328-4c32-9b0b-9d423b555f50", // The ID of your service instance.
    onLoad: function(instance) { instance.render(); }
  };
  setTimeout(function(){
    const t=document.createElement('script');
    t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
    document.head.appendChild(t);
  });
</script>


<!DOCTYPE HTML>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Classify your Image!</title>
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
<!-- JQUERY -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<!-- Boostrap 4 CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<!--<js>-->	
<script type="text/javascript" src="{{ url_for('static',filename='js/index.js') }}"></script>
<!--<css>-->
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/index.css') }}"/>	
</head> 
<body style="background-color:black"> 
  <div id="maintext" class="col-md-12 col-sm-12 bodypos">
    <h1 class="text-light mb-2"> Upload your image to be classified! </h1>
    <h4 class="text-light mb-5">(Please upload images less than 500kb in size)</h4>
    <form method=post enctype=multipart/form-data>
		<p class="text-light">
			<div class="button_outer">
				<div class="btn_upload">
					<input type=file name=file>
					Upload Image
				</div>
				<div class="processing_bar"></div>
				<div class="success_box"></div>
			</div>  
			<br/>	
			<br/>				
			<button type="submit" class="btn btn-primary" value="Upload">Upload</button>
			<!--<input type=submit value=Upload>-->
		</p>
    </form> 
  </div> 
</body>
</html>
